<style>

</style>

<meta charset="UTF-8">
<meta none="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<body class="container">

    <center>
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            <h1>Compañia de luz</h1>
            <img src="/img/luz.png" alt="imgLuz" id="imgLuz" width="600px">
        </div>
    </center>
    
</body>