<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
    }

    main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #e6edb1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form, table {
        width: 100%;
        margin-top: 20px;
    }

    .input-container {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input, select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .buttons-container {
        margin-top: 20px;
    }

    .btn {
        padding: 10px;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    table {
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: #ffffff;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

</style>

<%- include('partials/header.ejs') %> 

<%- include('partials/nav.ejs') %>

<body>

        <main>

            <% if(!isPost){ %>

            <form class="main-content" id="formularioPago" action="/" method="post">

                <div class="input-container">
                    <label for="numero">Numero del recibo</label>
                    <input id="numero" type="number" name="numero" required />
                </div>

                <div class="input-container">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" required/>
                </div>

                <div class="input-container">
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" type="text" name="domicilio" required/>
                </div>

                <div class="input-container">
                    <label for="servicio">Tipo de servicio</label>
                    <select id="servicio" name="servicio" >
                        <option value="0">Domestico</option>
                        <option value="1">Comercial</option>
                        <option value="2">Industrial</option>
                    </select>
                </div>

                <div class="input-container">
                    <label for="kwConsumidos">KW Consumidos</label>
                    <input id="kwConsumidos" type="number" name="kwConsumidos"required />
                </div>

                <div class="buttons-container">
                    <button class="btn btn-primary" type="submit">Enviar Informacion</button>
                    <button class="btn btn-danger" onclick="limpiarFormulario()">Limpiar</button>
                </div>
                
            </form>

            <%} else{ %>

            <table class="table table-hover">

                <thead>

                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de servicio</th>
                        <th scope="col">KW Consumidos</th>
                        <th scope="col">Costo por KW</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td><%= numero %></td>
                        <td><%= nombre %></td>
                        <td><%= servicio %></td>
                        <td><%= kwConsumidos %></td>
                        <td><%= precioKw.toFixed(2) %></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal:</td>
                        <td><%= subtotal.toFixed(2) %></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Impuesto:</td>
                        <td><%= impuesto.toFixed(2) %></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Descuento:</td>
                        <td><%= descuento.toFixed(2) %></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total a pagar:</td>
                        <td><%= subtotalConDescuento.toFixed(2) %></td>
                    </tr>
                    
                </tbody>

            </table>

            <% } %>
        
        </main>

</body>

<script>

    function limpiarFormulario() {
        document.getElementById("formularioPago").reset();
    }
    
</script>


<%- include('partials/footer.ejs') %>
